@import '../AlbumDetails/albumDetails.style';
.album{
  &.card{
    width: 15%;
    max-width: 150px;
    &:hover{
      transform: scale(1.15) !important; /* This is to override MU default style */
    }
  }
  &.media{
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
    max-height: 150px;
  }
}

.add-album-button{
  position: fixed;
  top: 85%;
  left: 90%;
}